{% extends 'rango/base.html' %}

{% block title %} Profile {% endblock %}

{% block body_block %}

     <div class="page-header">
        <h1>Profile Registration</h1>
     </div>

    Rango says: <strong>register here!</strong><br />

    <form id="profile_register" method="post" action="{% url 'add_profile' %}" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit"  class="btn btn-primary" name="submit" value="Register" />
    </form>

{% endblock %}